
body {
  line-height: normal;
  @apply bg-ra-black;
}


p {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Inter' !important;
}


*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-white/0;
}
 
::-webkit-scrollbar-thumb {
  @apply bg-white/25;
  
  &:hover {
    @apply bg-white/50;
  }
}
